* {
  letter-spacing: 0.05em;
}

.btn-close {
  --bs-btn-close-bg: url("data:image/svg+xml,%0A%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2.36612 2.36612C2.85427 1.87796 3.64573 1.87796 4.13388 2.36612L21.6339 19.8661C22.122 20.3543 22.122 21.1457 21.6339 21.6339C21.1457 22.122 20.3543 22.122 19.8661 21.6339L2.36612 4.13388C1.87796 3.64573 1.87796 2.85427 2.36612 2.36612Z' fill='%23A46305'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M21.6339 2.36612C22.122 2.85427 22.122 3.64573 21.6339 4.13388L4.13388 21.6339C3.64573 22.122 2.85427 22.122 2.36612 21.6339C1.87796 21.1457 1.87796 20.3543 2.36612 19.8661L19.8661 2.36612C20.3543 1.87796 21.1457 1.87796 21.6339 2.36612Z' fill='%23A46305'/%3E%3C/svg%3E%0A");
  --bs-btn-close-opacity: 1;
  padding: 0;
  width: 2.5rem;
  height: 2.5rem;
  background: transparent var(--bs-btn-close-bg) center / 1.5rem no-repeat;
}

.letter-spacing-1 {
  letter-spacing: 0.1em;
}

.letter-spacing-15 {
  letter-spacing: 0.15em;
}

.icon {
  display: block;
  font-size: 0;
  width: 1.5rem;
  height: 1.5rem;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;

  &.mail {
    background-image: url("data:image/svg+xml,%0A%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.375 4H3.625C2.92904 4.00077 2.26179 4.28596 1.76967 4.79299C1.27755 5.30002 1.00074 5.98749 1 6.70455V18.2955C1.00074 19.0125 1.27755 19.7 1.76967 20.207C2.26179 20.714 2.92904 20.9992 3.625 21H19.375C20.071 20.9992 20.7382 20.714 21.2303 20.207C21.7225 19.7 21.9993 19.0125 22 18.2955V6.70455C21.9993 5.98749 21.7225 5.30002 21.2303 4.79299C20.7382 4.28596 20.071 4.00077 19.375 4ZM18.7103 8.47361L11.9603 13.8827C11.8287 13.9881 11.6667 14.0454 11.5 14.0454C11.3333 14.0454 11.1713 13.9881 11.0397 13.8827L4.28969 8.47361C4.21038 8.4119 4.14377 8.33457 4.09372 8.24612C4.04367 8.15766 4.01118 8.05983 3.99815 7.95833C3.98511 7.85682 3.99179 7.75366 4.01778 7.65483C4.04378 7.556 4.08858 7.46349 4.14958 7.38265C4.21058 7.30182 4.28656 7.23428 4.37312 7.18397C4.45967 7.13365 4.55506 7.10156 4.65376 7.08956C4.75245 7.07756 4.85248 7.08589 4.94802 7.11406C5.04357 7.14223 5.13272 7.18968 5.21031 7.25366L11.5 12.2938L17.7897 7.25366C17.947 7.13129 18.1447 7.07762 18.34 7.10426C18.5354 7.1309 18.7128 7.2357 18.8338 7.396C18.9547 7.55631 19.0096 7.75923 18.9865 7.96088C18.9634 8.16254 18.8642 8.34673 18.7103 8.47361Z' fill='%23525252'/%3E%3C/svg%3E%0A");
  }

  &.phone {
    background-image: url("data:image/svg+xml,%0A%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.35676 2.63774C4.57548 2.41934 4.8381 2.24992 5.12724 2.14071C5.41637 2.03149 5.72542 1.98498 6.03389 2.00424C6.34236 2.02351 6.64321 2.10812 6.91651 2.25246C7.18982 2.3968 7.42932 2.59759 7.61916 2.8415L9.86284 5.72413C10.2741 6.25291 10.4191 6.94169 10.2566 7.59172L9.57285 10.3293C9.53775 10.4712 9.4612 10.6086 9.50017 10.7494C9.53914 10.8902 9.69232 11.0296 9.79535 11.1331L12.8665 14.2045C12.9702 14.3078 13.109 14.4606 13.2501 14.4996C13.3911 14.5385 13.5295 14.4624 13.6715 14.427L16.4076 13.7433C16.7284 13.6635 17.0631 13.6575 17.3866 13.7257C17.71 13.7939 18.0138 13.9345 18.2751 14.137L21.1575 16.3796C22.1937 17.1859 22.2887 18.7172 21.3612 19.6435L20.0688 20.9361C19.1438 21.8611 17.7613 22.2674 16.4726 21.8136C13.1736 20.6543 10.1785 18.7657 7.71041 16.2884C5.23345 13.8204 3.34499 10.8256 2.18558 7.52672C1.7331 6.23916 2.13933 4.85534 3.06431 3.9303L4.35676 2.63774Z' fill='%23525252'/%3E%3C/svg%3E%0A");
  }

  &.location {
    background-image: url("data:image/svg+xml,%0A%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 1.5C7.85953 1.5 4.5 4.52391 4.5 8.25C4.5 14.25 12 22.5 12 22.5C12 22.5 19.5 14.25 19.5 8.25C19.5 4.52391 16.1405 1.5 12 1.5ZM12 12C11.4067 12 10.8266 11.8241 10.3333 11.4944C9.83994 11.1648 9.45542 10.6962 9.22836 10.1481C9.0013 9.59987 8.94189 8.99667 9.05764 8.41473C9.1734 7.83279 9.45912 7.29824 9.87868 6.87868C10.2982 6.45912 10.8328 6.1734 11.4147 6.05764C11.9967 5.94189 12.5999 6.0013 13.1481 6.22836C13.6962 6.45542 14.1648 6.83994 14.4944 7.33329C14.8241 7.82664 15 8.40666 15 9C14.9991 9.79538 14.6828 10.5579 14.1204 11.1204C13.5579 11.6828 12.7954 11.9991 12 12Z' fill='%23525252'/%3E%3C/svg%3E%0A");
  }

  &.login {
    background-image: url("data:image/svg+xml,%0A%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_32_818)'%3E%3Cpath d='M12 23C18.0751 23 23 18.0751 23 12C23 5.92487 18.0751 1 12 1C5.92487 1 1 5.92487 1 12C1 18.0751 5.92487 23 12 23Z' stroke='%23A46305' stroke-width='1.83333' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M12.0007 13.2222C14.0257 13.2222 15.6673 11.5806 15.6673 9.55552C15.6673 7.53048 14.0257 5.88885 12.0007 5.88885C9.97561 5.88885 8.33398 7.53048 8.33398 9.55552C8.33398 11.5806 9.97561 13.2222 12.0007 13.2222Z' stroke='%23A46305' stroke-width='1.83333' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M4.87158 20.371C5.17409 19.3642 5.7931 18.4817 6.63677 17.8544C7.48044 17.2272 8.50384 16.8886 9.55514 16.8889H14.444C15.4967 16.8886 16.5213 17.228 17.3656 17.8567C18.2099 18.4853 18.8287 19.3698 19.13 20.3784' stroke='%23A46305' stroke-width='1.83333' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_32_818'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    transition: all 0.25s ease-in-out;
  }
}

// footer
footer {
  a:not(.nav-link) {
    &:hover {
      color: #8e8e8e !important;
    }
  }
}
