#mainForm > .row {
  @include media-breakpoint-down(lg) {
    position: relative;
    color: #ffffff;

    a {
      color: #ffffff;
    }

    .btn {
      color: #ffffff !important;
      border-color: #ffffff !important;
    }
  }
}

#mainForm .formArea {
  transition: backdrop-filter 0.3s ease;
  @include media-breakpoint-down(lg) {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    height: 100%;
    backdrop-filter: blur(3px);
  }
}

.image-area {
  position: relative;
  aspect-ratio: 4 / 5; 
}

#login-section,
#register-section {
  position: absolute;
  opacity: 0;
  transform: translateX(100%);
  width: calc(100% - 64px);
  transition: transform 0.3s ease-in-out;
}

#login-section.active,
#register-section.active {
  opacity: 1;
  transform: translateX(0);
}

#loginImage,
#registerImage {
  opacity: 0;
  position: absolute;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}

#loginImage.active,
#registerImage.active {
  opacity: 1;
  transform: translateX(0);
}
