<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>最新活動</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <main>
      <section class="py-11 py-lg-14">
        <div class="container">
          <div class="row-cols-1 g-5">
            <div class="col">
              <div>
                
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <%- include('./layout/footer'); -%>
    <script type="module" src="../main.js"></script>
  </body>
</html>
