<!DOCTYPE html>
<html lang="zh-Hant">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png" />
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png" />
		<link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png" />
		<link rel="manifest" href="/favicon/manifest.json" />
		<meta name="msapplication-TileColor" content="#ffffff" />
		<meta name="msapplication-TileImage" content="/favicon/ms-icon-144x144.png" />
		<title>首頁</title>
		<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
	</head>
	<body class="emfont-GenSenRoundedJP">
		<%- include('./layout/loading'); -%> <%- include('./layout/header', {showLogin: true, }); -%>

		<main>
			<!-- home hero -->
			<section id="home-hero-wrap" class="home-hero-wrap w-100">
				<div class="swiper h-100 w-100">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<div class="h-100 w-100 overflow-hidden position-relative d-flex align-items-end align-items-lg-center">
								<div class="container-fluid mw-1920p px-lg-11 px-xl-13">
									<img
										src="/assets/images/hero/hero-1.jpg"
										class="position-absolute top-50 start-50 translate-middle w-100 h-100 object-fit-cover"
										alt=""
									/>
									<ul class="list-unstyled mb-13 mb-lg-0 position-relative d-flex flex-column gap-4 gap-lg-6 z-2">
										<li data-aos="fade-up" data-aos-duration="800" data-aos-delay="0">
											<span
												class="d-inline-block px-5 px-lg-10 py-1 py-lg-3 fs-5 fs-lg-1 lh-lg-sm letter-spacing-15 bg-primary-500 text-white"
												>通過舞蹈表達自我</span
											>
										</li>
										<li data-aos="fade-up" data-aos-duration="800" data-aos-delay="150">
											<span
												class="d-inline-block px-5 px-lg-10 py-1 py-lg-3 fs-5 fs-lg-1 lh-lg-sm letter-spacing-15 bg-primary-500 text-white"
												>透過藝術表達建立自信</span
											>
										</li>
										<li data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
											<button class="btn btn-primary fs-6 fs-lg-2 px-lg-6 py-lg-4" type="button">
												<span>探索課程</span>
											</button>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="h-100 w-100 overflow-hidden position-relative d-flex align-items-end align-items-lg-center">
								<div class="container-fluid mw-1920p px-lg-11 px-xl-13">
									<img
										src="/assets/images/hero/hero-2.jpg"
										class="position-absolute top-50 start-50 translate-middle w-100 h-100 object-fit-cover"
										alt=""
									/>
									<ul class="list-unstyled mb-13 mb-lg-0 position-relative d-flex flex-column gap-4 gap-lg-6 z-2">
										<li data-aos="fade-up" data-aos-duration="800" data-aos-delay="0">
											<span
												class="d-inline-block px-5 px-lg-10 py-1 py-lg-3 fs-5 fs-lg-1 lh-lg-sm letter-spacing-15 bg-primary-500 text-white"
												>從第一步到精彩表演</span
											>
										</li>
										<li data-aos="fade-up" data-aos-duration="800" data-aos-delay="150">
											<span
												class="d-inline-block px-5 px-lg-10 py-1 py-lg-3 fs-5 fs-lg-1 lh-lg-sm letter-spacing-15 bg-primary-500 text-white"
												>用愛心關懷培養小舞者</span
											>
										</li>
										<li data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
											<button class="btn btn-primary fs-6 fs-lg-2 px-lg-6 py-lg-4" type="button">
												<span>探索課程</span>
											</button>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="h-100 w-100 overflow-hidden position-relative d-flex align-items-end align-items-lg-center">
								<div class="container-fluid mw-1920p px-lg-11 px-xl-13">
									<img
										src="/assets/images/hero/hero-3.jpg"
										class="position-absolute top-50 start-50 translate-middle w-100 h-100 object-fit-cover"
										alt=""
									/>
									<ul class="list-unstyled mb-13 mb-lg-0 position-relative d-flex flex-column gap-4 gap-lg-6 z-2">
										<li data-aos="fade-up" data-aos-duration="800" data-aos-delay="0">
											<span
												class="d-inline-block px-5 px-lg-10 py-1 py-lg-3 fs-5 fs-lg-1 lh-lg-sm letter-spacing-15 bg-primary-500 text-white"
												>讓您的孩子在快樂中舞蹈</span
											>
										</li>
										<li data-aos="fade-up" data-aos-duration="800" data-aos-delay="150">
											<span
												class="d-inline-block px-5 px-lg-10 py-1 py-lg-3 fs-5 fs-lg-1 lh-lg-sm letter-spacing-15 bg-primary-500 text-white"
												>3-16歲專業舞蹈教育</span
											>
										</li>
										<li data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
											<button class="btn btn-primary fs-6 fs-lg-2 px-lg-6 py-lg-4" type="button">
												<span>探索課程</span>
											</button>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="controller position-absolute w-100">
						<div class="container-fluid mw-1920p mx-auto px-lg-11 px-xl-13 d-flex justify-content-between">
							<button type="button" class="swiper-button-prev">上一頁</button>
							<button type="button" class="swiper-button-next">下一頁</button>
						</div>
					</div>
				</div>
			</section>
			<!-- Hot course -->
			<section id="hot-course" class="hot-course py-11 py-lg-14 overflow-hidden">
				<div class="container">
					<h2 class="text-lg-center mb-4 fs-4 fs-lg-1" data-aos="fade-up" data-aos-duration="800">熱門課程</h2>
					<p
						class="text-lg-center mb-7 mb-lg-8 fs-6 fs-lg-4"
						data-aos="fade-up"
						data-aos-duration="800"
						data-aos-delay="100"
					>
						適合年齡的舞蹈課程,旨在培養創造力和建立自信
					</p>
					<div class="row row-cols-1 g-5 mb-7 d-flex d-lg-none">
						<div class="col">
							<div class="card border-0 overflow-hidden">
								<div class="overflow-hidden rounded-5">
									<img src="/assets/images/course-thumbnail/course-1.jpg" class="card-img-top" alt="幼兒芭蕾" />
								</div>
								<div class="card-body py-3 py-lg-5 px-4 px-lg-5 d-flex flex-column gap-4">
									<div>
										<h3 class="card-title mb-2 mb-lg-4 fs-5 fs-lg-3 letter-spacing-1 text-primary-500">幼兒芭蕾</h3>
										<p class="card-text line-clamp-2">專為初學者設計的舞蹈課程，專注於基本動作、指令遵循和創意表達。</p>
									</div>
									<ul class="list-unstyled mb-0 py-2 py-lg-3 d-flex flex-column gap-3 border-dashed-y mt-auto">
										<li class="d-flex gap-4 clock">週六上午10:00</li>
										<li class="d-flex gap-4 star">600元/月</li>
										<li class="d-flex gap-4 class">8人小班教學</li>
									</ul>
									<a href="#" class="btn btn-primary withIcon arrow-right mx-auto rounded-pill lh-base">
										<span>了解更多</span>
										<span class="btn-icon"></span>
									</a>
								</div>
							</div>
						</div>
						<div class="col" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
							<div class="card border-0 overflow-hidden">
								<div class="overflow-hidden rounded-5">
									<img src="/assets/images/course-thumbnail/course-2.jpg" class="card-img-top" alt="嘻哈基礎" />
								</div>
								<div class="card-body py-3 py-lg-5 px-4 px-lg-5 d-flex flex-column gap-4">
									<div>
										<h3 class="card-title mb-2 mb-lg-4 fs-5 fs-lg-3 letter-spacing-1 text-primary-500">嘻哈基礎</h3>
										<p class="card-text line-clamp-2">學習嘻哈基礎,包含高能量動作、節奏訓練和街舞文化。</p>
									</div>
									<ul class="list-unstyled mb-0 py-2 py-lg-3 d-flex flex-column gap-3 border-dashed-y mt-auto">
										<li class="d-flex gap-4 clock">週二和週四 下午4:30</li>
										<li class="d-flex gap-4 star">800元/月</li>
										<li class="d-flex gap-4 class">8人小班教學</li>
									</ul>
									<a href="#" class="btn btn-primary withIcon arrow-right mx-auto rounded-pill lh-base">
										<span>了解更多</span>
										<span class="btn-icon"></span>
									</a>
								</div>
							</div>
						</div>
						<div class="col" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
							<div class="card border-0 overflow-hidden">
								<div class="overflow-hidden rounded-5">
									<img src="/assets/images/course-thumbnail/course-3.jpg" class="card-img-top" alt="青少年現代舞" />
								</div>
								<div class="card-body py-3 py-lg-5 px-4 px-lg-5 d-flex flex-column gap-4">
									<div>
										<h3 class="card-title mb-2 mb-lg-4 fs-5 fs-lg-3 letter-spacing-1 text-primary-500">青少年現代舞</h3>
										<p class="card-text line-clamp-2">富有表現力的現代舞，幫助青少年找到獨特的藝術聲音。</p>
									</div>
									<ul class="list-unstyled mb-0 py-2 py-lg-3 d-flex flex-column gap-3 border-dashed-y mt-auto">
										<li class="d-flex gap-4 clock">週六上午10:30</li>
										<li class="d-flex gap-4 star">800元/月</li>
										<li class="d-flex gap-4 class">8人小班教學</li>
									</ul>
									<a href="#" class="btn btn-primary withIcon arrow-right mx-auto rounded-pill lh-base">
										<span>了解更多</span>
										<span class="btn-icon"></span>
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="d-none d-lg-block position-relative mb-8">
						<div class="swiper">
							<div class="swiper-wrapper">
								<div class="swiper-slide" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="0">
									<div class="card border-0 overflow-hidden h-100">
										<div class="overflow-hidden rounded-5">
											<img
												src="/assets/images/course-thumbnail/course-1.jpg"
												class="card-img-top object-fit-cover"
												alt="幼兒芭蕾"
											/>
										</div>
										<div class="card-body py-3 py-lg-5 px-4 px-lg-5 d-flex flex-column gap-4">
											<div>
												<h3 class="card-title mb-2 mb-lg-4 fs-5 fs-lg-3 letter-spacing-1 text-primary-500">幼兒芭蕾</h3>
												<p class="card-text line-clamp-2">
													專為初學者設計的舞蹈課程，專注於基本動作、指令遵循和創意表達。
												</p>
											</div>
											<ul class="list-unstyled mb-0 py-2 py-lg-3 d-flex flex-column gap-3 border-dashed-y mt-auto">
												<li class="d-flex gap-4 clock">週六上午10:00</li>
												<li class="d-flex gap-4 star">600元/月</li>
												<li class="d-flex gap-4 class">8人小班教學</li>
											</ul>
											<a href="#" class="btn btn-primary withIcon arrow-right mx-auto rounded-pill lh-base">
												<span>了解更多</span>
												<span class="btn-icon"></span>
											</a>
										</div>
									</div>
								</div>
								<div class="swiper-slide" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
									<div class="card border-0 overflow-hidden h-100">
										<div class="overflow-hidden rounded-5">
											<img
												src="/assets/images/course-thumbnail/course-2.jpg"
												class="card-img-top object-fit-cover"
												alt="嘻哈基礎"
											/>
										</div>
										<div class="card-body py-3 py-lg-5 px-4 px-lg-5 d-flex flex-column gap-4">
											<div>
												<h3 class="card-title mb-2 mb-lg-4 fs-5 fs-lg-3 letter-spacing-1 text-primary-500">嘻哈基礎</h3>
												<p class="card-text line-clamp-2">學習嘻哈基礎，包含高能量動作、節奏訓練和街舞文化。</p>
											</div>
											<ul class="list-unstyled mb-0 py-2 py-lg-3 d-flex flex-column gap-3 border-dashed-y mt-auto">
												<li class="d-flex gap-4 clock">週二和週四 下午4:30</li>
												<li class="d-flex gap-4 star">800元/月</li>
												<li class="d-flex gap-4 class">8人小班教學</li>
											</ul>
											<a href="#" class="btn btn-primary withIcon arrow-right mx-auto rounded-pill lh-base">
												<span>了解更多</span>
												<span class="btn-icon"></span>
											</a>
										</div>
									</div>
								</div>
								<div class="swiper-slide" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
									<div class="card border-0 overflow-hidden h-100">
										<div class="overflow-hidden rounded-5">
											<img
												src="/assets/images/course-thumbnail/course-3.jpg"
												class="card-img-top object-fit-cover"
												alt="青少年現代舞"
											/>
										</div>
										<div class="card-body py-3 py-lg-5 px-4 px-lg-5 d-flex flex-column gap-4">
											<div>
												<h3 class="card-title mb-2 mb-lg-4 fs-5 fs-lg-3 letter-spacing-1 text-primary-500">
													青少年現代舞
												</h3>
												<p class="card-text line-clamp-2">富有表現力的現代舞，幫助青少年找到獨特的藝術聲音。</p>
											</div>
											<ul class="list-unstyled mb-0 py-2 py-lg-3 d-flex flex-column gap-3 border-dashed-y mt-auto">
												<li class="d-flex gap-4 clock">週六上午10:30</li>
												<li class="d-flex gap-4 star">800元/月</li>
												<li class="d-flex gap-4 class">8人小班教學</li>
											</ul>
											<a href="#" class="btn btn-primary withIcon arrow-right mx-auto rounded-pill lh-base">
												<span>了解更多</span>
												<span class="btn-icon"></span>
											</a>
										</div>
									</div>
								</div>
								<div class="swiper-slide" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">
									<div class="card border-0 overflow-hidden h-100">
										<div class="overflow-hidden rounded-5">
											<img
												src="/assets/images/course-thumbnail/course-13.jpg"
												class="card-img-top object-fit-cover"
												alt="進階嘻哈"
											/>
										</div>
										<div class="card-body py-3 py-lg-5 px-4 px-lg-5 d-flex flex-column gap-4">
											<div>
												<h3 class="card-title mb-2 mb-lg-4 fs-5 fs-lg-3 letter-spacing-1 text-primary-500">進階嘻哈</h3>
												<p class="card-text line-clamp-2">透過複雜編舞和表演技巧，將您的嘻哈技能提升到新的水準。</p>
											</div>
											<ul class="list-unstyled mb-0 py-2 py-lg-3 d-flex flex-column gap-3 border-dashed-y mt-auto">
												<li class="d-flex gap-4 clock">週六和週日 下午4:30</li>
												<li class="d-flex gap-4 star">800元/月</li>
												<li class="d-flex gap-4 class">8人小班教學</li>
											</ul>
											<a href="#" class="btn btn-primary withIcon arrow-right mx-auto rounded-pill lh-base">
												<span>了解更多</span>
												<span class="btn-icon"></span>
											</a>
										</div>
									</div>
								</div>
								<div class="swiper-slide" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">
									<div class="card border-0 overflow-hidden h-100">
										<div class="overflow-hidden rounded-5">
											<img
												src="/assets/images/course-thumbnail/course-4.jpg"
												class="card-img-top object-fit-cover"
												alt="創意芭蕾"
											/>
										</div>
										<div class="card-body py-3 py-lg-5 px-4 px-lg-5 d-flex flex-column gap-4">
											<div>
												<h3 class="card-title mb-2 mb-lg-4 fs-5 fs-lg-3 letter-spacing-1 text-primary-500">創意芭蕾</h3>
												<p class="card-text line-clamp-2">透過創意動作和想像遊戲溫和地介紹芭蕾基礎。</p>
											</div>
											<ul class="list-unstyled mb-0 py-2 py-lg-3 d-flex flex-column gap-3 border-dashed-y mt-auto">
												<li class="d-flex gap-4 clock">週六下午2:00</li>
												<li class="d-flex gap-4 star">800元/月</li>
												<li class="d-flex gap-4 class">4人小班教學</li>
											</ul>
											<a href="#" class="btn btn-primary withIcon arrow-right mx-auto rounded-pill lh-base">
												<span>了解更多</span>
												<span class="btn-icon"></span>
											</a>
										</div>
									</div>
								</div>
								<div class="swiper-slide" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="500">
									<div class="card border-0 overflow-hidden h-100">
										<div class="overflow-hidden rounded-5">
											<img
												src="/assets/images/course-thumbnail/course-11.jpg"
												class="card-img-top object-fit-cover"
												alt="踢踏舞冒險"
											/>
										</div>
										<div class="card-body py-3 py-lg-5 px-4 px-lg-5 d-flex flex-column gap-4">
											<div>
												<h3 class="card-title mb-2 mb-lg-4 fs-5 fs-lg-3 letter-spacing-1 text-primary-500">
													踢踏舞冒險
												</h3>
												<p class="card-text line-clamp-2">學習經典踢踏舞技巧和組合，用雙腳創造節奏聲響。</p>
											</div>
											<ul class="list-unstyled mb-0 py-2 py-lg-3 d-flex flex-column gap-3 border-dashed-y mt-auto">
												<li class="d-flex gap-4 clock">週六下午2:30</li>
												<li class="d-flex gap-4 star">1000元/月</li>
												<li class="d-flex gap-4 class">2人小班教學</li>
											</ul>
											<a href="#" class="btn btn-primary withIcon arrow-right mx-auto rounded-pill lh-base">
												<span>了解更多</span>
												<span class="btn-icon"></span>
											</a>
										</div>
									</div>
								</div>
								<div class="swiper-slide" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="600">
									<div class="card border-0 overflow-hidden h-100">
										<div class="overflow-hidden rounded-5">
											<img
												src="/assets/images/course-thumbnail/course-6.jpg"
												class="card-img-top object-fit-cover"
												alt="兒童爵士舞"
											/>
										</div>
										<div class="card-body py-3 py-lg-5 px-4 px-lg-5 d-flex flex-column gap-4">
											<div>
												<h3 class="card-title mb-2 mb-lg-4 fs-5 fs-lg-3 letter-spacing-1 text-primary-500">
													兒童爵士舞
												</h3>
												<p class="card-text line-clamp-2">高能量爵士舞課程，專注於節奏、協調和樂趣！</p>
											</div>
											<ul class="list-unstyled mb-0 py-2 py-lg-3 d-flex flex-column gap-3 border-dashed-y mt-auto">
												<li class="d-flex gap-4 clock">週六上午11:00</li>
												<li class="d-flex gap-4 star">800元/月</li>
												<li class="d-flex gap-4 class">6人小班教學</li>
											</ul>
											<a href="#" class="btn btn-primary withIcon arrow-right mx-auto rounded-pill lh-base">
												<span>了解更多</span>
												<span class="btn-icon"></span>
											</a>
										</div>
									</div>
								</div>
								<div class="swiper-slide" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="700">
									<div class="card border-0 overflow-hidden h-100">
										<div class="overflow-hidden rounded-5">
											<img
												src="/assets/images/course-thumbnail/course-12.jpg"
												class="card-img-top object-fit-cover"
												alt="當代爵士"
											/>
										</div>
										<div class="card-body py-3 py-lg-5 px-4 px-lg-5 d-flex flex-column gap-4">
											<div>
												<h3 class="card-title mb-2 mb-lg-4 fs-5 fs-lg-3 letter-spacing-1 text-primary-500">當代爵士</h3>
												<p class="card-text line-clamp-2">結合爵士技巧與當代舞蹈風格，透過流暢的動作表達自己。</p>
											</div>
											<ul class="list-unstyled mb-0 py-2 py-lg-3 d-flex flex-column gap-3 border-dashed-y mt-auto">
												<li class="d-flex gap-4 clock">週六下午3:00</li>
												<li class="d-flex gap-4 star">700元/月</li>
												<li class="d-flex gap-4 class">3人小班教學</li>
											</ul>
											<a href="#" class="btn btn-primary withIcon arrow-right mx-auto rounded-pill lh-base">
												<span>了解更多</span>
												<span class="btn-icon"></span>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<button type="button" class="swiper-button-prev btn-sm d-none d-lg-flex">上一頁</button>
						<button type="button" class="swiper-button-next btn-sm d-none d-lg-flex">下一頁</button>
					</div>
					<a href="javascript:;" class="btn-course d-block lh-0 mx-auto fs-0"><span>查看更多課程</span></a>
				</div>
			</section>

			<!-- Aim -->
			<section id="home-aim" class="py-11 py-lg-14 bg-primary-100">
				<div class="container">
					<h2 class="text-lg-center mb-4 fs-4 fs-lg-1" data-aos="fade-up" data-aos-duration="800">安全與信任</h2>
					<p
						class="text-lg-center mb-7 mb-lg-8 fs-6 fs-lg-4"
						data-aos="fade-up"
						data-aos-duration="800"
						data-aos-delay="100"
					>
						適合年齡的舞蹈課程,您孩子的安全和舒適是我們的首要任務。我們創造了一個讓家長放心、孩子茁壯的環境。
					</p>
					<div class="row row-cols-1 row-cols-lg-2 gy-5 gy-lg-0 flex-lg-row-reverse align-items-lg-center mb-7 mb-lg-8">
						<div class="col" data-aos="zoom-in" data-aos-duration="800" data-aos-delay="200">
							<div class="py-3 px-5">
								<div
									class="overflow-hidden rounded-32 rounded-lg-80"
									style="border-right: 6px solid #ffef8e; border-bottom: 6px solid #ffef8e"
								>
									<img
										src="/assets/images/section-aim.jpg"
										class="object-fit-cover w-100 mh-346p object-position-top"
										alt=""
									/>
								</div>
							</div>
						</div>
						<div class="col">
							<div class="row row-cols-2 g-5 h-100">
								<div class="col" data-aos="fade-right" data-aos-duration="800" data-aos-delay="0">
									<div
										class="p-4 py-lg-5 px-lg-6 overflow-hidden border border-2 border-primary-500 rounded-5 d-flex flex-column gap-2 gap-lg-4 h-100"
									>
										<h3 class="text-primary-500 fs-7 fs-lg-4">防滑地板</h3>
										<p class="mb-0 fs-7 fs-lg-5">專業舞蹈地板,專為安全和最佳表現而設計。</p>
									</div>
								</div>
								<div class="col" data-aos="fade-right" data-aos-duration="800" data-aos-delay="100">
									<div
										class="p-4 py-lg-5 px-lg-6 overflow-hidden border border-2 border-primary-500 rounded-5 d-flex flex-column gap-2 gap-lg-4 h-100"
									>
										<h3 class="text-primary-500 fs-7 fs-lg-4">認證教師</h3>
										<p class="mb-0 fs-7 fs-lg-5">所有教師都經過專業培訓和背景調查。</p>
									</div>
								</div>
								<div class="col" data-aos="fade-right" data-aos-duration="800" data-aos-delay="200">
									<div
										class="p-4 py-lg-5 px-lg-6 overflow-hidden border border-2 border-primary-500 rounded-5 d-flex flex-column gap-2 gap-lg-4 h-100"
									>
										<h3 class="text-primary-500 fs-7 fs-lg-4">家長觀看</h3>
										<p class="mb-0 fs-7 fs-lg-5">觀察窗讓家長可以觀看孩子的學習過程。</p>
									</div>
								</div>
								<div class="col" data-aos="fade-right" data-aos-duration="800" data-aos-delay="300">
									<div
										class="p-4 py-lg-5 px-lg-6 overflow-hidden border border-2 border-primary-500 rounded-5 d-flex flex-column gap-2 gap-lg-4 h-100"
									>
										<h3 class="text-primary-500 fs-7 fs-lg-4">以兒童為中心關注點</h3>
										<p class="mb-0 fs-7 fs-lg-5">適合年齡的教學方法,注重情緒健康。</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div
						class="row justify-content-center align-items-center text-white bg-accent-400 rounded-5 py-3 py-lg-5 px-4 px-lg-7 mx-auto"
						style="max-width: 636px"
						data-aos="fade-up"
						data-aos-duration="800"
						data-aos-delay="400"
					>
						<div class="col text-center">
							<h4 class="fs-4 fs-lg-1 mb-2 lh-sm d-block">
								<span id="num_student" data-number="500">500</span><span>+</span>
							</h4>
							<h5 class="fs-7 fs-lg-3 lh-base lh-lg-sm d-block">快樂學生</h5>
						</div>
						<div class="col text-center">
							<h4 class="fs-4 fs-lg-1 mb-2 lh-sm d-block">
								<span id="num_student" data-number="10">10</span><span>+</span>
							</h4>
							<h5 class="fs-7 fs-lg-3 lh-base lh-lg-sm d-block">年經驗</h5>
						</div>
						<div class="col text-center">
							<h4 class="fs-4 fs-lg-1 mb-2 lh-sm d-block">
								<span id="num_student" data-number="98">98</span><span>%</span>
							</h4>
							<h5 class="fs-7 fs-lg-3 lh-base lh-lg-sm d-block">家長滿意</h5>
						</div>
					</div>
				</div>
			</section>

			<!-- Event -->
			<section id="home-event" class="home-event py-11 py-lg-14 overflow-hidden">
				<div class="container">
					<h2 class="text-lg-center mb-4 fs-4 fs-lg-1" data-aos="fade-up" data-aos-duration="800">即將舉行的活動</h2>
					<p
						class="text-lg-center mb-7 mb-lg-8 fs-6 fs-lg-4 letter-spacing-1"
						data-aos="fade-up"
						data-aos-duration="800"
						data-aos-delay="100"
					>
						加入我們的精彩表演、工作坊和特別課程,讓我們的舞蹈社區團結起來。
					</p>

					<div class="swiper mb-7 mb-lg-8 overflow-visible">
						<div class="swiper-wrapper">
							<div class="swiper-slide h-auto" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="0">
								<div class="card border border-1 border-gray-300 rounded-5 rounded-lg-56 overflow-hidden h-100">
									<div class="p-2 p-lg-4 position-relative">
										<div class="overflow-hidden rounded-4 rounded-lg-48">
											<img
												src="/assets/images/course-thumbnail/course-7.jpg"
												class="card-img-top object-fit-cover lh-0"
												alt="春季舞蹈表演"
											/>
										</div>
										<div class="position-absolute bottom-0 start-0 bg-white p-1 p-lg-2 rounded-4 rounded-lg-24">
											<div
												class="d-flex justify-content-center align-items-center p-2 py-lg-3 px-lg-4 gap-1 rounded-3 rounded-lg-5 overflow-hidden border-dashed-3-primary-400"
											>
												<span class="star"></span>
												<span class="d-block fs-8 fs-lg-6 text-primary-500">精選活動</span>
											</div>
										</div>
									</div>
									<div class="card-body p-3 py-lg-5 px-lg-5 d-flex flex-column gap-4">
										<div>
											<h3 class="card-title mb-2 fs-5 fs-lg-3 letter-spacing-1 text-primary-500">春季舞蹈表演</h3>
											<p class="card-text line-clamp-2">
												在我們一年一度的展示活動中,學生為家人和朋友表演他們最喜歡的作品。
											</p>
										</div>
										<ul class="list-unstyled mb-0 py-2 py-lg-3 d-flex flex-column gap-3 border-dashed-y mt-auto">
											<li class="d-flex gap-4 clock">2024年5月15日</li>
											<li class="d-flex gap-4 location">主劇院</li>
										</ul>
										<a href="#" class="btn btn-primary withIcon arrow-right mx-auto rounded-pill lh-base">
											<span>預約活動</span>
											<span class="btn-icon"></span>
										</a>
									</div>
								</div>
							</div>
							<div class="swiper-slide h-auto" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
								<div class="card border border-1 border-gray-300 rounded-5 rounded-lg-56 overflow-hidden h-100">
									<div class="p-2 p-lg-4 position-relative">
										<div class="overflow-hidden rounded-4 rounded-lg-48">
											<img
												src="/assets/images/course-thumbnail/course-8.jpg"
												class="card-img-top object-fit-cover lh-0"
												alt="春季舞蹈表演"
											/>
										</div>
										<div class="position-absolute bottom-0 start-0 bg-white p-1 p-lg-2 rounded-4 rounded-lg-24">
											<div
												class="d-flex justify-content-center align-items-center p-2 py-lg-3 px-lg-4 gap-1 rounded-3 rounded-lg-5 overflow-hidden border-dashed-3-primary-400"
											>
												<span class="d-block fs-8 fs-lg-6">名額有限</span>
											</div>
										</div>
									</div>
									<div class="card-body p-3 py-lg-5 px-lg-5 d-flex flex-column gap-4">
										<div>
											<h3 class="card-title mb-2 fs-5 fs-lg-3 letter-spacing-1 text-primary-500">夏季密集工作坊</h3>
											<p class="card-text line-clamp-2">為高級學生提供每週的密集課程,探索新的舞蹈風格。</p>
										</div>
										<ul class="list-unstyled mb-0 py-2 py-lg-3 d-flex flex-column gap-3 border-dashed-y mt-auto">
											<li class="d-flex gap-4 clock">2024年7月8日-7月12日</li>
											<li class="d-flex gap-4 location">工作室 A & 工作室 B</li>
										</ul>
										<a href="#" class="btn btn-primary withIcon arrow-right mx-auto rounded-pill lh-base">
											<span>了解更多</span>
											<span class="btn-icon"></span>
										</a>
									</div>
								</div>
							</div>
							<div class="swiper-slide h-auto" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
								<div class="card border border-1 border-gray-300 rounded-5 rounded-lg-56 overflow-hidden h-100">
									<div class="p-2 p-lg-4 position-relative">
										<div class="overflow-hidden rounded-4 rounded-lg-48">
											<img
												src="/assets/images/course-thumbnail/course-9.jpg"
												class="card-img-top object-fit-cover lh-0"
												alt="親子課程"
											/>
										</div>
										<div class="position-absolute bottom-0 start-0 bg-white p-1 p-lg-2 rounded-4 rounded-lg-24">
											<div
												class="d-flex justify-content-center align-items-center p-2 py-lg-3 px-lg-4 gap-1 rounded-3 rounded-lg-5 overflow-hidden border-dashed-3-primary-400"
											>
												<span class="d-block fs-8 fs-lg-6">持續進行</span>
											</div>
										</div>
									</div>
									<div class="card-body p-3 py-lg-5 px-lg-5 d-flex flex-column gap-4">
										<div>
											<h3 class="card-title mb-2 fs-5 fs-lg-3 letter-spacing-1 text-primary-500">親子課程</h3>
											<p class="card-text line-clamp-2">特殊的親子體驗,家長可以與孩子一起運動。</p>
										</div>
										<ul class="list-unstyled mb-0 py-2 py-lg-3 d-flex flex-column gap-3 border-dashed-y mt-auto">
											<li class="d-flex gap-4 clock">每週六</li>
											<li class="d-flex gap-4 location">工作室 C</li>
										</ul>
										<a href="#" class="btn btn-primary withIcon arrow-right mx-auto rounded-pill lh-base">
											<span>了解更多</span>
											<span class="btn-icon"></span>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<a
						href="./courses.html"
						class="btn-course d-block lh-0 mx-auto fs-0"
						data-aos="fade-up"
						data-aos-duration="800"
						><span>查看更多課程</span></a
					>
				</div>
			</section>

			<!-- NewsLetter -->
			<section
				id="newsletter"
				class="newsletter position-relative py-11 py-lg-14"
				style="background: url('/assets/images/course-thumbnail/course-9.jpg') no-repeat center center / cover"
			>
				<div class="container position-relative z-2">
					<div class="row">
						<div class="col-lg-6">
							<div
								class="py-6 px-5 p-lg-7 rounded-5 text-lg-start text-center"
								style="background-color: rgba(255, 255, 255, 0.8)"
								data-aos="fade-left"
								data-aos-duration="1000"
								data-aos-delay="200"
							>
								<h2 class="mb-4 fs-4 fs-lg-3 lh-sm">想要接受我們最新的課程和活動資訊?</h2>
								<p class="mb-5 fs-8 fs-lg-5 letter-spacing-1">訂閱我們獲取更多第一手最新消息</p>
								<form class="mb-lg-4 mx-auto" action="" style="max-width: 400px">
									<div class="position-relative">
										<input
											type="email"
											class="form-control newsletter-input text-gray-400"
											id="newsletter-input"
											placeholder="輸入電郵地址"
										/>
										<button type="button" class="btn btn-primary fs-6 btn-newsletter lh-base">立即訂閱</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</section>

			<!-- Student Comments -->
			<section id="home-comments" class="home-comments py-11 py-lg-14 bg-basic">
				<h2 class="text-center position-relative mb-7 mb-lg-8 fs-4 fs-lg-1" data-aos="fade-up" data-aos-duration="800">
					學員的話
				</h2>
				<!-- swiper 1 -->
				<div class="swiper">
					<div class="swiper-wrapper mb-6">
						<div class="swiper-slide" data-aos="zoom-in" data-aos-duration="800" data-aos-delay="0">
							<div class="card bg-white border-0 rounded-32">
								<div class="card-body py-4 py-lg-5 px-6 px-lg-7">
									<ul class="list-unstyled mb-0 d-flex align-items-center">
										<li class="fs-7 fs-lg-5 me-4">小婷</li>
										<li
											class="d-flex gap-1 star text-primary-500 me-2 letter-spacing-1 align-items-center fs-7 fs-lg-5"
										>
											5歲
										</li>
										<li class="d-flex gap-1 diamond text-accent-400 letter-spacing-1 align-items-center fs-7 fs-lg-5">
											幼兒芭蕾
										</li>
									</ul>
									<hr class="dashed-1 my-3 my-lg-5" />
									<p class="card-text line-clamp-2 fs-6 fs-lg-4 lh-sm">芭蕾課讓我像小公主！老師好溫柔！</p>
								</div>
							</div>
						</div>
						<div class="swiper-slide" data-aos="zoom-in" data-aos-duration="800" data-aos-delay="100">
							<div class="card bg-white border-0 rounded-32">
								<div class="card-body py-4 py-lg-5 px-6 px-lg-7">
									<ul class="list-unstyled mb-0 d-flex align-items-center">
										<li class="fs-7 fs-lg-5 me-4">小傑</li>
										<li
											class="d-flex gap-1 star text-primary-500 me-2 letter-spacing-1 align-items-center fs-7 fs-lg-5"
										>
											12歲
										</li>
										<li class="d-flex gap-1 diamond text-accent-400 letter-spacing-1 align-items-center fs-7 fs-lg-5">
											青少年街舞
										</li>
									</ul>
									<hr class="dashed-1 my-3 my-lg-5" />
									<p class="card-text line-clamp-2 fs-6 fs-lg-4 lh-sm">街舞超酷!我學會新動作,還交到朋友!</p>
								</div>
							</div>
						</div>
						<div class="swiper-slide" data-aos="zoom-in" data-aos-duration="800" data-aos-delay="200">
							<div class="card bg-white border-0 rounded-32">
								<div class="card-body py-4 py-lg-5 px-6 px-lg-7">
									<ul class="list-unstyled mb-0 d-flex align-items-center">
										<li class="fs-7 fs-lg-5 me-4">小安媽媽</li>
										<li
											class="d-flex gap-1 star text-primary-500 me-2 letter-spacing-1 align-items-center fs-7 fs-lg-5"
										>
											7歲
										</li>
										<li class="d-flex gap-1 diamond text-accent-400 letter-spacing-1 align-items-center fs-7 fs-lg-5">
											爵士舞
										</li>
									</ul>
									<hr class="dashed-1 my-3 my-lg-5" />
									<p class="card-text line-clamp-2 fs-6 fs-lg-4 lh-sm">孩子在這裡快樂跳舞, 教室很安全!</p>
								</div>
							</div>
						</div>
						<div class="swiper-slide" data-aos="zoom-in" data-aos-duration="800" data-aos-delay="300">
							<div class="card bg-white border-0 rounded-32">
								<div class="card-body py-4 py-lg-5 px-6 px-lg-7">
									<ul class="list-unstyled mb-0 d-flex align-items-center">
										<li class="fs-7 fs-lg-5 me-4">小明爸爸</li>
										<li
											class="d-flex gap-1 star text-primary-500 me-2 letter-spacing-1 align-items-center fs-7 fs-lg-5"
										>
											3歲
										</li>
										<li class="d-flex gap-1 diamond text-accent-400 letter-spacing-1 align-items-center fs-7 fs-lg-5">
											基礎舞
										</li>
									</ul>
									<hr class="dashed-1 my-3 my-lg-5" />
									<p class="card-text line-clamp-2 fs-6 fs-lg-4 lh-sm">表演課讓我自信滿滿，舞臺超好玩！</p>
								</div>
							</div>
						</div>
						<div class="swiper-slide" data-aos="zoom-in" data-aos-duration="800" data-aos-delay="400">
							<div class="card bg-white border-0 rounded-32">
								<div class="card-body py-4 py-lg-5 px-6 px-lg-7">
									<ul class="list-unstyled mb-0 d-flex align-items-center">
										<li class="fs-7 fs-lg-5 me-4">小宇</li>
										<li
											class="d-flex gap-1 star text-primary-500 me-2 letter-spacing-1 align-items-center fs-7 fs-lg-5"
										>
											15歲
										</li>
										<li class="d-flex gap-1 diamond text-accent-400 letter-spacing-1 align-items-center fs-7 fs-lg-5">
											青少年嘻哈
										</li>
									</ul>
									<hr class="dashed-1 my-3 my-lg-5" />
									<p class="card-text line-clamp-2 fs-6 fs-lg-4 lh-sm">嘻哈課讓我找到節奏，超有成就感！</p>
								</div>
							</div>
						</div>
						<div class="swiper-slide" data-aos="zoom-in" data-aos-duration="800" data-aos-delay="500">
							<div class="card bg-white border-0 rounded-32">
								<div class="card-body py-4 py-lg-5 px-6 px-lg-7">
									<ul class="list-unstyled mb-0 d-flex align-items-center">
										<li class="fs-7 fs-lg-5 me-4">小涵家長</li>
										<li
											class="d-flex gap-1 star text-primary-500 me-2 letter-spacing-1 align-items-center fs-7 fs-lg-5"
										>
											6歲
										</li>
										<li class="d-flex gap-1 diamond text-accent-400 letter-spacing-1 align-items-center fs-7 fs-lg-5">
											創意舞
										</li>
									</ul>
									<hr class="dashed-1 my-3 my-lg-5" />
									<p class="card-text line-clamp-2 fs-6 fs-lg-4 lh-sm">每次上課都像派對，孩子開心極了！</p>
								</div>
							</div>
						</div>
						<div class="swiper-slide" data-aos="zoom-in" data-aos-duration="800" data-aos-delay="600">
							<div class="card bg-white border-0 rounded-32">
								<div class="card-body py-4 py-lg-5 px-6 px-lg-7">
									<ul class="list-unstyled mb-0 d-flex align-items-center">
										<li class="fs-7 fs-lg-5 me-4">小琪</li>
										<li
											class="d-flex gap-1 star text-primary-500 me-2 letter-spacing-1 align-items-center fs-7 fs-lg-5"
										>
											6歲
										</li>
										<li class="d-flex gap-1 diamond text-accent-400 letter-spacing-1 align-items-center fs-7 fs-lg-5">
											幼兒芭蕾
										</li>
									</ul>
									<hr class="dashed-1 my-3 my-lg-5" />
									<p class="card-text line-clamp-2 fs-6 fs-lg-4 lh-sm">芭蕾讓我感覺像在飛！老師好棒！</p>
								</div>
							</div>
						</div>
						<div class="swiper-slide" data-aos="zoom-in" data-aos-duration="800" data-aos-delay="700">
							<div class="card bg-white border-0 rounded-32">
								<div class="card-body py-4 py-lg-5 px-6 px-lg-7">
									<ul class="list-unstyled mb-0 d-flex align-items-center">
										<li class="fs-7 fs-lg-5 me-4">小豪</li>
										<li
											class="d-flex gap-1 star text-primary-500 me-2 letter-spacing-1 align-items-center fs-7 fs-lg-5"
										>
											13歲
										</li>
										<li class="d-flex gap-1 diamond text-accent-400 letter-spacing-1 align-items-center fs-7 fs-lg-5">
											青少年街舞
										</li>
									</ul>
									<hr class="dashed-1 my-3 my-lg-5" />
									<p class="card-text line-clamp-2 fs-6 fs-lg-4 lh-sm">街舞課讓我變超帥，朋友都羨慕！</p>
								</div>
							</div>
						</div>
						<div class="swiper-slide" data-aos="zoom-in" data-aos-duration="800" data-aos-delay="800">
							<div class="card bg-white border-0 rounded-32">
								<div class="card-body py-4 py-lg-5 px-6 px-lg-7">
									<ul class="list-unstyled mb-0 d-flex align-items-center">
										<li class="fs-7 fs-lg-5 me-4">小晴媽媽</li>
										<li
											class="d-flex gap-1 star text-primary-500 me-2 letter-spacing-1 align-items-center fs-7 fs-lg-5"
										>
											8歲
										</li>
										<li class="d-flex gap-1 diamond text-accent-400 letter-spacing-1 align-items-center fs-7 fs-lg-5">
											現代舞
										</li>
									</ul>
									<hr class="dashed-1 my-3 my-lg-5" />
									<p class="card-text line-clamp-2 fs-6 fs-lg-4 lh-sm">孩子學會團體舞，變得更開朗了！</p>
								</div>
							</div>
						</div>
						<div class="swiper-slide" data-aos="zoom-in" data-aos-duration="800" data-aos-delay="900">
							<div class="card bg-white border-0 rounded-32">
								<div class="card-body py-4 py-lg-5 px-6 px-lg-7">
									<ul class="list-unstyled mb-0 d-flex align-items-center">
										<li class="fs-7 fs-lg-5 me-4">小晨家長</li>
										<li
											class="d-flex gap-1 star text-primary-500 me-2 letter-spacing-1 align-items-center fs-7 fs-lg-5"
										>
											4歲
										</li>
										<li class="d-flex gap-1 diamond text-accent-400 letter-spacing-1 align-items-center fs-7 fs-lg-5">
											基礎舞
										</li>
									</ul>
									<hr class="dashed-1 my-3 my-lg-5" />
									<p class="card-text line-clamp-2 fs-6 fs-lg-4 lh-sm">節奏課好有趣，我每天都想來！</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- swiper 2 -->
				<div class="swiper">
					<div class="swiper-wrapper">
						<div class="swiper-slide" data-aos="zoom-in" data-aos-duration="800" data-aos-delay="0">
							<div class="card bg-white border-0 rounded-32">
								<div class="card-body py-4 py-lg-5 px-6 px-lg-7">
									<ul class="list-unstyled mb-0 d-flex align-items-center">
										<li class="fs-7 fs-lg-5 me-4">小婷</li>
										<li
											class="d-flex gap-1 star text-primary-500 me-2 letter-spacing-1 align-items-center fs-7 fs-lg-5"
										>
											5歲
										</li>
										<li class="d-flex gap-1 diamond text-accent-400 letter-spacing-1 align-items-center fs-7 fs-lg-5">
											幼兒芭蕾
										</li>
									</ul>
									<hr class="dashed-1 my-3 my-lg-5" />
									<p class="card-text line-clamp-2 fs-6 fs-lg-4 lh-sm">芭蕾課讓我像小公主！老師好溫柔！</p>
								</div>
							</div>
						</div>
						<div class="swiper-slide" data-aos="zoom-in" data-aos-duration="800" data-aos-delay="100">
							<div class="card bg-white border-0 rounded-32">
								<div class="card-body py-4 py-lg-5 px-6 px-lg-7">
									<ul class="list-unstyled mb-0 d-flex align-items-center">
										<li class="fs-7 fs-lg-5 me-4">小傑</li>
										<li
											class="d-flex gap-1 star text-primary-500 me-2 letter-spacing-1 align-items-center fs-7 fs-lg-5"
										>
											12歲
										</li>
										<li class="d-flex gap-1 diamond text-accent-400 letter-spacing-1 align-items-center fs-7 fs-lg-5">
											青少年街舞
										</li>
									</ul>
									<hr class="dashed-1 my-3 my-lg-5" />
									<p class="card-text line-clamp-2 fs-6 fs-lg-4 lh-sm">街舞超酷!我學會新動作,還交到朋友!</p>
								</div>
							</div>
						</div>
						<div class="swiper-slide" data-aos="zoom-in" data-aos-duration="800" data-aos-delay="200">
							<div class="card bg-white border-0 rounded-32">
								<div class="card-body py-4 py-lg-5 px-6 px-lg-7">
									<ul class="list-unstyled mb-0 d-flex align-items-center">
										<li class="fs-7 fs-lg-5 me-4">小安媽媽</li>
										<li
											class="d-flex gap-1 star text-primary-500 me-2 letter-spacing-1 align-items-center fs-7 fs-lg-5"
										>
											7歲
										</li>
										<li class="d-flex gap-1 diamond text-accent-400 letter-spacing-1 align-items-center fs-7 fs-lg-5">
											爵士舞
										</li>
									</ul>
									<hr class="dashed-1 my-3 my-lg-5" />
									<p class="card-text line-clamp-2 fs-6 fs-lg-4 lh-sm">孩子在這裡快樂跳舞, 教室很安全!</p>
								</div>
							</div>
						</div>
						<div class="swiper-slide" data-aos="zoom-in" data-aos-duration="800" data-aos-delay="300">
							<div class="card bg-white border-0 rounded-32">
								<div class="card-body py-4 py-lg-5 px-6 px-lg-7">
									<ul class="list-unstyled mb-0 d-flex align-items-center">
										<li class="fs-7 fs-lg-5 me-4">小明爸爸</li>
										<li
											class="d-flex gap-1 star text-primary-500 me-2 letter-spacing-1 align-items-center fs-7 fs-lg-5"
										>
											3歲
										</li>
										<li class="d-flex gap-1 diamond text-accent-400 letter-spacing-1 align-items-center fs-7 fs-lg-5">
											基礎舞
										</li>
									</ul>
									<hr class="dashed-1 my-3 my-lg-5" />
									<p class="card-text line-clamp-2 fs-6 fs-lg-4 lh-sm">表演課讓我自信滿滿，舞臺超好玩！</p>
								</div>
							</div>
						</div>
						<div class="swiper-slide" data-aos="zoom-in" data-aos-duration="800" data-aos-delay="400">
							<div class="card bg-white border-0 rounded-32">
								<div class="card-body py-4 py-lg-5 px-6 px-lg-7">
									<ul class="list-unstyled mb-0 d-flex align-items-center">
										<li class="fs-7 fs-lg-5 me-4">小宇</li>
										<li
											class="d-flex gap-1 star text-primary-500 me-2 letter-spacing-1 align-items-center fs-7 fs-lg-5"
										>
											15歲
										</li>
										<li class="d-flex gap-1 diamond text-accent-400 letter-spacing-1 align-items-center fs-7 fs-lg-5">
											青少年嘻哈
										</li>
									</ul>
									<hr class="dashed-1 my-3 my-lg-5" />
									<p class="card-text line-clamp-2 fs-6 fs-lg-4 lh-sm">嘻哈課讓我找到節奏，超有成就感！</p>
								</div>
							</div>
						</div>
						<div class="swiper-slide" data-aos="zoom-in" data-aos-duration="800" data-aos-delay="500">
							<div class="card bg-white border-0 rounded-32">
								<div class="card-body py-4 py-lg-5 px-6 px-lg-7">
									<ul class="list-unstyled mb-0 d-flex align-items-center">
										<li class="fs-7 fs-lg-5 me-4">小涵家長</li>
										<li
											class="d-flex gap-1 star text-primary-500 me-2 letter-spacing-1 align-items-center fs-7 fs-lg-5"
										>
											6歲
										</li>
										<li class="d-flex gap-1 diamond text-accent-400 letter-spacing-1 align-items-center fs-7 fs-lg-5">
											創意舞
										</li>
									</ul>
									<hr class="dashed-1 my-3 my-lg-5" />
									<p class="card-text line-clamp-2 fs-6 fs-lg-4 lh-sm">每次上課都像派對，孩子開心極了！</p>
								</div>
							</div>
						</div>
						<div class="swiper-slide" data-aos="zoom-in" data-aos-duration="800" data-aos-delay="600">
							<div class="card bg-white border-0 rounded-32">
								<div class="card-body py-4 py-lg-5 px-6 px-lg-7">
									<ul class="list-unstyled mb-0 d-flex align-items-center">
										<li class="fs-7 fs-lg-5 me-4">小琪</li>
										<li
											class="d-flex gap-1 star text-primary-500 me-2 letter-spacing-1 align-items-center fs-7 fs-lg-5"
										>
											6歲
										</li>
										<li class="d-flex gap-1 diamond text-accent-400 letter-spacing-1 align-items-center fs-7 fs-lg-5">
											幼兒芭蕾
										</li>
									</ul>
									<hr class="dashed-1 my-3 my-lg-5" />
									<p class="card-text line-clamp-2 fs-6 fs-lg-4 lh-sm">芭蕾讓我感覺像在飛！老師好棒！</p>
								</div>
							</div>
						</div>
						<div class="swiper-slide" data-aos="zoom-in" data-aos-duration="800" data-aos-delay="700">
							<div class="card bg-white border-0 rounded-32">
								<div class="card-body py-4 py-lg-5 px-6 px-lg-7">
									<ul class="list-unstyled mb-0 d-flex align-items-center">
										<li class="fs-7 fs-lg-5 me-4">小豪</li>
										<li
											class="d-flex gap-1 star text-primary-500 me-2 letter-spacing-1 align-items-center fs-7 fs-lg-5"
										>
											13歲
										</li>
										<li class="d-flex gap-1 diamond text-accent-400 letter-spacing-1 align-items-center fs-7 fs-lg-5">
											青少年街舞
										</li>
									</ul>
									<hr class="dashed-1 my-3 my-lg-5" />
									<p class="card-text line-clamp-2 fs-6 fs-lg-4 lh-sm">街舞課讓我變超帥，朋友都羨慕！</p>
								</div>
							</div>
						</div>
						<div class="swiper-slide" data-aos="zoom-in" data-aos-duration="800" data-aos-delay="800">
							<div class="card bg-white border-0 rounded-32">
								<div class="card-body py-4 py-lg-5 px-6 px-lg-7">
									<ul class="list-unstyled mb-0 d-flex align-items-center">
										<li class="fs-7 fs-lg-5 me-4">小晴媽媽</li>
										<li
											class="d-flex gap-1 star text-primary-500 me-2 letter-spacing-1 align-items-center fs-7 fs-lg-5"
										>
											8歲
										</li>
										<li class="d-flex gap-1 diamond text-accent-400 letter-spacing-1 align-items-center fs-7 fs-lg-5">
											現代舞
										</li>
									</ul>
									<hr class="dashed-1 my-3 my-lg-5" />
									<p class="card-text line-clamp-2 fs-6 fs-lg-4 lh-sm">孩子學會團體舞，變得更開朗了！</p>
								</div>
							</div>
						</div>
						<div class="swiper-slide" data-aos="zoom-in" data-aos-duration="800" data-aos-delay="900">
							<div class="card bg-white border-0 rounded-32">
								<div class="card-body py-4 py-lg-5 px-6 px-lg-7">
									<ul class="list-unstyled mb-0 d-flex align-items-center">
										<li class="fs-7 fs-lg-5 me-4">小晨家長</li>
										<li
											class="d-flex gap-1 star text-primary-500 me-2 letter-spacing-1 align-items-center fs-7 fs-lg-5"
										>
											4歲
										</li>
										<li class="d-flex gap-1 diamond text-accent-400 letter-spacing-1 align-items-center fs-7 fs-lg-5">
											基礎舞
										</li>
									</ul>
									<hr class="dashed-1 my-3 my-lg-5" />
									<p class="card-text line-clamp-2 fs-6 fs-lg-4 lh-sm">節奏課好有趣，我每天都想來！</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			<!-- Past Events -->
			<section id="home-past-events" class="home-past-events py-11 py-lg-14">
				<div class="container-fluid px-lg-0">
					<h2
						class="text-lg-center position-relative mb-7 mb-lg-8 fs-4 fs-lg-1"
						data-aos="fade-up"
						data-aos-duration="800"
					>
						過往表演活動
					</h2>
					<div class="swiper">
						<div class="swiper-wrapper">
							<div class="swiper-slide" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="0">
								<a href="javascript:;" class="d-block lh-0 overflow-hidden">
									<img
										src="/assets/images/course-thumbnail/course-10.jpg"
										class="object-fit-cover w-100 h-100"
										alt=""
									/>
								</a>
							</div>
							<div class="swiper-slide" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
								<a href="javascript:;" class="d-block lh-0 overflow-hidden">
									<img src="/assets/images/course-thumbnail/course-6.jpg" class="object-fit-cover w-100 h-100" alt="" />
								</a>
							</div>
							<div class="swiper-slide" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
								<a href="javascript:;" class="d-block lh-0 overflow-hidden">
									<img src="/assets/images/course-thumbnail/course-4.jpg" class="object-fit-cover w-100 h-100" alt="" />
								</a>
							</div>
							<div class="swiper-slide" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">
								<a href="javascript:;" class="d-block lh-0 overflow-hidden">
									<img
										src="/assets/images/course-thumbnail/course-12.jpg"
										class="object-fit-cover w-100 h-100"
										alt=""
									/>
								</a>
							</div>
							<div class="swiper-slide" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">
								<a href="javascript:;" class="d-block lh-0 overflow-hidden">
									<img src="/assets/images/course-thumbnail/course-5.jpg" class="object-fit-cover w-100 h-100" alt="" />
								</a>
							</div>
						</div>
					</div>
				</div>
			</section>
		</main>

		<%- include('./layout/toTopButton'); -%> <%- include('./layout/footer'); -%>

		<script type="module" src="../main.js"></script>
	</body>
</html>
