<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>登入頁面</title>
	</head>
	<body>
		<%- include('./layout/header', {isLoginPage: true}); -%>

		<main>
			<section class="py-11 py-lg-14">
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-10">
							<div class="border border-300 border-2 rounded-5 overflow-hidden">
								<form action="" id="mainForm" class="mainForm">
									<div class="row g-0">
										<div class="col-lg-6">
											<div class="image-area">
												<img
													src="/assets/images/login.jpg"
													class="h-100 w-100 object-fit-cover active"
													alt=""
													id="loginImage"
												/>
												<img
													src="/assets/images/register.jpg"
													class="h-100 w-100 object-fit-cover"
													alt=""
													id="registerImage"
												/>
											</div>
										</div>
										<div class="col-lg-6 formArea">
											<div class="py-11 px-6 position-relative h-100 d-flex align-items-center">
												<div id="login-section" class="active">
													<h2 class="mb-6 text-center text-white text-lg-gray-800">登入</h2>
													<div class="form-floating mb-6">
														<input type="email" class="form-control" id="loginMail" placeholder="輸入登入電郵" />
														<label for="loginMail">輸入登入電郵</label>
													</div>
													<div class="form-floating mb-6">
														<input type="password" class="form-control" id="loginPassword" placeholder="密碼" />
														<label for="loginPassword">密碼</label>
													</div>
													<div class="mb-6 text-center">
														<a href="./portfolio.html" class="btn btn-outline-secondary" type="button">確認登入</a>
													</div>
													<div class="d-flex align-items-center gap-2">
														<span>還沒有帳號?</span>
														<a id="changeToRegister" href="javascript:;" class="d-inline-block">立即註冊</a>
													</div>
												</div>
												<div id="register-section">
													<h2 class="mb-6 text-center text-white text-lg-gray-800">註冊</h2>
													<div class="form-floating mb-6">
														<input type="email" class="form-control" id="registerMail" placeholder="輸入註冊電郵" />
														<label for="registerMail">輸入註冊電郵</label>
													</div>
													<div class="form-floating mb-6">
														<input type="password" class="form-control" id="registerPassword" placeholder="密碼" />
														<label for="registerPassword">密碼</label>
													</div>
													<div class="form-floating mb-6">
														<input
															type="password"
															class="form-control"
															id="confirmRegisterPassword"
															placeholder="再次輸入密碼"
														/>
														<label for="confirmRegisterPassword">再次輸入密碼</label>
													</div>
													<div class="mb-6 text-center">
														<button class="btn btn-outline-primary-500" type="button">確認註冊</button>
													</div>
													<div class="d-flex align-items-center gap-2">
														<span>已有帳號?</span>
														<a id="changeToLogin" href="javascript:;" class="d-inline-block">立即登入</a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</section>
		</main>
		<%- include('./layout/footer'); -%>
		<script type="module" src="../main.js"></script>
	</body>
</html>
